%h1#logo
  = link_to Refinery::Core.site_name, refinery.root_path
-#= render(:partial => "/refinery/menu", :locals => {:dom_id => 'menu', :css => 'menu'}) 
.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{"href" => "/home"}
        -#A.L Veniegas Maternity Clinic
      .nav-collapse
        %ul.nav.pull-right
          %li
            =link_to "Home", "/home"
          %li.divider-vertical
          %li
            =link_to "About", "/about"

